
# dagashub integration details mlflow
# don't add quotes the values in .env file especially for DAGS_HUB_REPO_NAME, DAGS_HUB_REPO_OWNER_NAME, DAGS_HUB_USERNAME, CAPSTONE_TEST
DAGS_HUB_TRACKING_URI=fsfksmf